<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <!--移动端配置-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title th:replace="${title}">博客详情</title>
    <!-- 配置semantic的css文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{/lib/tocbot/tocbot.css}">
    <!--自定义css样式-->
    <link rel="stylesheet" th:href="@{/css/myStyle.css}">

</head>
<body>
<!-- 导航 -->
<nav th:fragment="menu(n)" class="ui inverted segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">
                Blog For Chen
            </h2>
            <a href="#" class="item m-item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class="paper plane icon"></i>首页</a>
            <a href="#" class="item m-item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="list icon"></i>分类</a>
            <a href="#" class="item m-item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class="paperclip icon"></i>标签</a>
            <a href="#" class="item m-item m-mobile-hide" th:classappend="${n==4} ? 'active'"><i class="calendar icon"></i>标签</a>
            <a href="#" class="item m-item m-mobile-hide" th:classappend="${n==5} ? 'active'"><i class="heartbeat icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui  icon inverted transparent input ">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu black icon button m-right-top m-mobile-show" id="show_menu">
        <i class="bars icon"></i>
    </a>
</nav>
<!-- 底部 -->
<footer th:fragment="botMenu" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned  container">
        <div class="ui inverted divided mobile reversed  stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img th:src="@{/img/weixin.jpg}" class="ui rounded image" style="width: 120px">
                    </div>
                </div>
            </div>

            <div class="three wide  column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">
                    Latest Msg
                </h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">First</a>
                    <a href="#" class="item">Second</a>
                    <a href="#" class="item">Third</a>
                    <a href="#" class="item">Fourth</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">
                    联系我
                </h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：540832433@qq.com</a>
                    <a href="#" class="item">QQ:540832433</a>

                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">
                    Latest Msg
                </h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    This is about me,just me,real me
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">CopyRightΘ2021-2022 Blog Design for ChenYi</p>
    </div>
</footer>
<th:block th:fragment="js_imp">
    <!-- 引入jquery -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <!-- 配置semantic的js文件 -->
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
        <script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
        <script src="../static/lib/waypoint/jquery.waypoints.min.js" th:src="@{/lib/waypoint/jquery.waypoints.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.3/jquery.scrollTo.min.js"></script>
</th:block>
</body>
</html>