<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--移动端配置-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>分类页面</title>
    <!-- 配置semantic的css文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--自定义css样式-->
    <link rel="stylesheet" href="../static/css/myStyle.css">

</head>
<body>
    <!-- 导航 -->
    <nav class="ui inverted segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">
                    Blog For Chen
                </h2>
                <a href="#" class="item m-item m-mobile-hide"><i class="paper plane icon"></i>首页</a>
                <a href="#" class="item m-item m-mobile-hide"><i class="list icon"></i>分类</a>
                <a href="#" class="item m-item m-mobile-hide"><i class="paperclip icon"></i>标签</a>
                <a href="#" class="item m-item m-mobile-hide"><i class="calendar icon"></i>标签</a>
                <a href="#" class="item m-item m-mobile-hide"><i class="heartbeat icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui  icon inverted transparent input ">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu black icon button m-right-top m-mobile-show" id="show_menu">
            <i class="bars icon"></i>
        </a>
    </nav>
    <!-- 内容 -->
    <div class="m-container-small m-padded-tb-large">
        <div class="ui container">
              <!-- header-->
            <div class="ui top attached stackable segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">
                            标签
                        </h3>
                    </div>
                    <div class="right aligned column">
                        共<h2 class="ui orange header m-inline-block m-text-thin"> 22 </h2>个
                    </div>
                </div>
            </div>
            <div class="ui attached segment m-padded-tb-large">
                <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-small">
                    Eat<div class="detail">23</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Train<div class="detail">2</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Code<div class="detail">33</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Love<div class="detail">13</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Share<div class="detail">22</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Train<div class="detail">2</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Code<div class="detail">33</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Love<div class="detail">13</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Share<div class="detail">22</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Train<div class="detail">2</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Code<div class="detail">33</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Love<div class="detail">13</div>
                </a>
                <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-small">
                    Share<div class="detail">22</div>
                </a>
            </div>
            <div class="ui top attached teal segment">
                <div class="ui padded vertical segment m-padded-tb-big m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">This is a Title</h3>
                            <p class="m-text">
                                Thought I found a way
                                Thought I found a way yeah found
                                But you never go away
                                So I guess I gotta stay now
                                Oh I hope some day I'll make it out of here
                                Even if it takes all night or a hundred years
                                Need a place to hide but I can't find one near
                                Wanna feel alive outside I can fight my fear
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">辰逸呀</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2021-10-18
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>2020
                                            </div>

                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-padded-mini" target="_blank">
                                            Know Update
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-small m-padded-tiny">
                                            Share<div class="detail">22</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-big m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">This is a Title</h3>
                            <p class="m-text">
                                Thought I found a way
                                Thought I found a way yeah found
                                But you never go away
                                So I guess I gotta stay now
                                Oh I hope some day I'll make it out of here
                                Even if it takes all night or a hundred years
                                Need a place to hide but I can't find one near
                                Wanna feel alive outside I can fight my fear
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">辰逸呀</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2021-10-18
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>2020
                                            </div>

                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-padded-mini" target="_blank">
                                            Know Update
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-small m-padded-tiny">
                                            Share<div class="detail">22</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-big m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">This is a Title</h3>
                            <p class="m-text">
                                Thought I found a way
                                Thought I found a way yeah found
                                But you never go away
                                So I guess I gotta stay now
                                Oh I hope some day I'll make it out of here
                                Even if it takes all night or a hundred years
                                Need a place to hide but I can't find one near
                                Wanna feel alive outside I can fight my fear
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">辰逸呀</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2021-10-18
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>2020
                                            </div>

                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-padded-mini" target="_blank">
                                            Know Update
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-small m-padded-tiny">
                                            Share<div class="detail">22</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-big m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">This is a Title</h3>
                            <p class="m-text">
                                Thought I found a way
                                Thought I found a way yeah found
                                But you never go away
                                So I guess I gotta stay now
                                Oh I hope some day I'll make it out of here
                                Even if it takes all night or a hundred years
                                Need a place to hide but I can't find one near
                                Wanna feel alive outside I can fight my fear
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">辰逸呀</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2021-10-18
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>2020
                                            </div>

                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-padded-mini" target="_blank">
                                            Know Update
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-small m-padded-tiny">
                                            Share<div class="detail">22</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-big m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">This is a Title</h3>
                            <p class="m-text">
                                Thought I found a way
                                Thought I found a way yeah found
                                But you never go away
                                So I guess I gotta stay now
                                Oh I hope some day I'll make it out of here
                                Even if it takes all night or a hundred years
                                Need a place to hide but I can't find one near
                                Wanna feel alive outside I can fight my fear
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">辰逸呀</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2021-10-18
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>2020
                                            </div>

                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-padded-mini" target="_blank">
                                            Know Update
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-small m-padded-tiny">
                                            Share<div class="detail">22</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" class="ui mini teal basic button"><i class="chevron left icon"></i></a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button"><i class="chevron right icon"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 底部 -->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned  container">
            <div class="ui inverted divided mobile reversed  stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="./static/img/weixin.jpg" class="ui rounded image" style="width: 120px">
                        </div>
                    </div>
                </div>

                <div class="three wide  column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">
                        Latest Msg
                    </h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">First</a>
                        <a href="#" class="item">Second</a>
                        <a href="#" class="item">Third</a>
                        <a href="#" class="item">Fourth</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">
                        联系我
                    </h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email：540832433@qq.com</a>
                        <a href="#" class="item">QQ:540832433</a>

                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">
                        Latest Msg
                    </h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">
                        This is about me,just me,real me
                    </p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">CopyRightΘ2021-2022 Blog Design for ChenYi</p>
        </div>
    </footer>


<!-- 引入jquery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!-- 配置semantic的js文件 -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $("#show_menu").click(function (){
            $('.m-item').toggleClass('m-mobile-hide');
        })

        $("#praseBtn").popup({
            popup:$('.praseBoard.popup'),
            on:'click',
            position:'bottom center'
        })
    </script>
</body>
</html>
